body {

  background-repeat: no-repeat;
  background-position: left;
  font-family: Bookman, URW Bookman L, serif;
  font-weight: 100;
  width: auto;
  height: 800px;
  border: double black;
  min-height: 300px;
}

table, td {
  border: solid 5px black;
  border: double black;
  border-collapse: collapse;
  text-align: center;
  color: purple;
  font-weight: bolder;
}

table {
  width: 95%;
  margin: 5px;
}

td:hover, tr:hover {
  color: orange;
}

h2, h3, h4, h5 {
  text-align: center;
  font-weight: bold;
}


button {
  margin-left: 30px;
}

#formulaire {
  align: auto;
}
