body{font-family: verdana, sans-serif;
 font-size: 1em;
 width: 700px;
 border: double black;
 min-height: 300px;}
section, article, aside{width:220px;
 float: left;
 border: solid 1px black;
 margin: 5px;}
#art, #asi{display: none;}
 #art{margin-top: 25px;}
#asi{margin-top: 50px;}
caption, .tit{font-weight: bold;
 padding: 3px;}
table, td{border: solid 1px black;
 margin: 1px;
 padding: 2px;}
 table{width: 95%;
 margin: 5px;}
td:hover, #films li:hover{font-weight: bold;
 color:red;}
p{margin: 3px;
 font-size: 0.8em;
 font-style: italic;}
li{margin: 4px 0;}